.Navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;

}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;

}
.desktopMenubtn{
    color: #333333;
    background-color: white;
    border-radius: .5rem;
   height: 1.2rem;
   width: 5rem;
   border: none;

}